.navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 10px 200px;
}

.text .warp {
  color: #8987A1;
}

.nev-text {
  color: black;
}

.orange {
  color: #E95A08;
}

.size {
  font-size: 50px;
  font-weight: 900;
}

.image img {
  height: 50px;
}

.control a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}

.banner-image {
  width: 570px;
  height: 355px;
}

.plant {
  text-align: center;
}

.card {
  width: 270px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.card img {
  width: 100%;
  height: auto;
}

.card h3,
.card h2 {
  margin: 10px 0 5px;
  text-align: center;
}

.card button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #E95A08;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.card button:hover {
  background-color: #cc4f07;
}

.card-dad {
  width: 1160px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-left: 300px;
}

.plant-size {
  font-size: 50px;
  font-weight: 700px;
}

.flower-wrapper {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.sticker-container {
  position: absolute;
  top: -40px;
  left: 45%;
  transform: translateX(-50%);
  z-index: 10;
}

.sticker {
  width: 150px;
  height: 150px;
  object-fit: contain;
}


.flower {
  display: flex;
  max-width: 1140px;
  height: 597px;
  margin: 100px auto;
  box-sizing: border-box;
}

.image-container {
  flex: 1;
}

.flower-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  flex: 1;
  padding: 40px 30px;
  box-sizing: border-box;
}

.plant-title {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.flower-list {
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}


@media screen and (max-width: 576px) {
  .control a:not(:last-child) {
    display: none;
  }

  .navber {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 20px;
  }

  .banner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 10px;
  }

  .banner > div:last-child {
    order: -1;
  }

  .banner-image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .size {
    font-size: 28px;
  }

  .text {
    font-size: 16px;
  }

   .card-dad {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 100%;
    padding: 10px;
    gap: 10px;
    width: 100%;
  }

  .card {
    width: 100%;
  }
  .plant{
    text-align: center;
    margin: auto;
  }
}
